{% extends "base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}
    <section id="login-default" class="login">
        <div class="login-default">
          <div class="login-form">
            <div class="login-title">
              <h2>Login</h2>
            </div>
    
            <div class="login-validate">
                <p>You have been successfully logged out. You can <a href="{% url 'login' %}">log-in again</a>.</p>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>
{% endblock %}