{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}


<section id="login-default" class="login">
    <div class="login-default">
      <div class="login-form">
        <div class="login-title">
          <h2>Login</h2>
        </div>

        <div class="login-validate">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% else %}
            {% endif %}

            <!-- <div > -->
                <form action="{% url 'login' %}" class="login-form" id="login-form" method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="forgot">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                    <p><input class="btn-dark login-btn" type="submit" value="Log-in"></p>
                </form>
            <!-- </div> -->

            <div class="signup">
              <p>Or Sign Up Using</p>
              <div class="social">
                <!-- <div class="fb icon">
                  <a href=""><img src="{% static 'img/facebook.svg' %}" alt="Facebook icon"></a>
                </div>
                <div class="tw icon">
                  <a href=""><img src="{% static 'img/twitter.svg' %}" alt="Twitter icon"></a>
                </div> -->
                <div class="gg icon">
                  <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'img/search.svg' %}" alt="Google icon"></a>
                </div>
              </div>
              <p>Or signup Using <a href="{% url 'student_registration' %}">Email</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>




    {% comment %}<h1>Log-in</h1>
    <div class="module">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% else %}
            <p>Please, use the following form to log-in:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in"></p>
            </form>
        </div>
    </div>{% endcomment %}
{% endblock %}