{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
    <section id="login-default" class="login">
        <div class="login-default">
            <div class="login-form">
                <div class="login-title">
                    <h2>Forgot your password?</h2>
                </div>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn-dark login-btn" type="submit" value="Send me instructions!">
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock %}