{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<section id="login-default" class="login">
    <div class="login-default">
        <div class="login-form">
            <div class="login-title">
                <h2>Password reset complete</h2>
            </div>
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
    </div>
    </div>
</section>
{% endblock %}

