{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock %}
{% block content %}
<section id="login-default" class="login">
    <div class="login-default">
        <div class="login-form">
            <div class="login-title">
                <h2>Set a new password</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn-dark login-btn" type="submit" value="Change my password">
            </form>
        </div>
    </div>
    </div>
</section>
{% endblock %}