{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock %}

{% block content %}
    <section id="login-default" class="login">
        <div class="login-default">
            <div class="login-form">
                <div class="login-title">
                    <h2>Password change</h2>
                </div>
                <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn-dark login-btn" type="submit" value="Change my password">
                </form>
            </div>
          </div>
        </div>
    </section>
    
{% endblock %}