{% extends 'base.html' %}
{% block title %}Email Sent{% endblock %}
{% block content %}
<section id="login-default" class="login">
    <div class="login-default">
        <div class="login-form">
            <div class="login-title">
                <h2>Check your inbox</h2>
            </div>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
    </div>
    </div>
</section>
{% endblock %}