{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock %}
{% block content %}
    <section id="login-default" class="login">
        <div class="login-default">
            <div class="login-form">
                <div class="login-title">
                    <h2>Password change successful</h2>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}