{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Sign up
{% endblock %}
{% block content %}



<section id="login-default" class="login">
    <div class="login-default">
      <div class="login-form">
        <div class="login-title">
          <h2>Sign Up</h2>
        </div>

        <div class="login-validate">
          <!-- <form action="" class="login-form" id="login-form">
            <label for="username">Username</label> <br>
            <input class="login-input" type="text" placeholder="Enter Username">
            <br>
            <label for="email">email</label> <br>
            <input class="login-input" type="email" placeholder="Enter email">
            <br>
            <label for="password">Password</label> <br>
            <input class="login-input" type="password" placeholder="Enter Password">
            <br>
            <label for="password2">Password (again)</label> <br>
            <input class="login-input" type="password2" placeholder="Enter Password (again)">
              <br>
            <input class="btn-dark login-btn" type="button" value="Sign Up">

          </form> -->
          <form method="post" class="login-form"  id="login-form">
            {{ form|crispy }}
            {% csrf_token %}
            <input class="btn-dark login-btn" type="submit" value="Create my account">
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
      </div>
    </div>
</section>


<!-- 

    <div class="module">
        <p>Enter your details to create an account:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Create my account"></p>
        </form>
    </div> -->
{% endblock %}