{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}

<!-- <section id="default">
<div class="default">

</div>
</section> -->

  <div class="space"></div>

  <section id="preview">
    <div class="preview">
      <div class="preview-row">

        <div class="preview-left">
          <div class="player-embedd" id="preview-video">
          <iframe src="https://www.youtube.com/embed/a7sEoEvT8l8?&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="preview-left-deets">
            <ul class="list-group">
                <li class="list-group-item">
                  <p>Duration</p> 
                  <span >2hrs</span>
                </li>
                <li class="list-group-item">
                  <p>Lessons</p> 
                  <span>5</span>
                </li>
                <li class="list-group-item">
                  <p>Level</p> 
                  <span>Beginners</span>
                </li>
            </ul>
            <br>
            <div class="get-in-touch">
                {% if request.user.is_authenticated %}
                    <form action="{% url 'student_enroll_course' %}" method="post">
                        {{ enroll_form }}
                        {% csrf_token %}
                        <input type="submit" class="btn-red" value="Enroll now">
                    </form>
                {% else %}
                    <a href="{% url 'student_registration' %}" class="btn-red">Register to enroll</a>
                {% endif %}
           
            </div>
          </div>
        </div>

        <div class="preview-right">
          <div class="preview-right-deets">
            <div class="preview-right-title">
              <div class="preview-text">
              <h1>{{ object.title }}</h1>
              <p>by: {{ object.owner.get_full_name }}</p>
              </div>
              <div class="preview-price">
                <p>&#8358; {{ course.price }}</p>
              </div>
            </div>
            {% with category=object.category %}
                <div class="preview-right-category">
                    <p>{{ category.title }}</p>
                </div>
            {% endwith %}
           
            <hr>
            <div class="preview-description">
              <h4>Description</h4>
              <p>
                  {{ object.overview|linebreaks }}
              </p>
            </div>

            <div class="what-will-learn">
            <h4>What I will learn</h4>
            <div class="what-will-learn-deets">
              <div class="what-will-learn-col">
                <ul>
                  <li>
                    <img src="{% static 'img/download.svg' %}" alt="list icon">
                  <div> Become a designer</div>
                  </li>
                  <li>
                    <img src="{% static 'img/download.svg' %}" alt="list icon">
                  <div> Use usefull tools to design impeccable and creative graphics</div>
                  </li>
                  <li>
                    <img src="{% static 'img/download.svg' %}" alt="list icon">
                  <div> Understand how to create layouts and position grapichal elements</div>
                  </li>
                </ul>
              </div>
            </div>
            </div>

            <div class="topics">
              <div class="topics-head">
                <div>
                 <h4>Topics for this course</h4>
                </div>
                <div class="topics-head-deets">
                  <p><span>16</span> Lessons</p>
                  <p>15hrs 20m</p>
                </div>
              </div>

              <div class="course-topics">
                 <button class="accordion">Your first entry into designing.</button>
                  <div class="panel">
                    <div class="panel-ul">
                      <ul>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <button class="accordion">Your first entry into designing.</button>
                  <div class="panel">
                    <div class="panel-ul">
                      <ul>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                    </div>


                    
                  <button class="accordion">Your first entry into designing.</button>
                  <div class="panel">
                    <div class="panel-ul">
                      <ul>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                        <li>
                          <div class="panel-ul-deets">

                            <div>
                              <img src="{% static 'img/youtube.svg' %}" alt="youtube icon">
                              <h3>Introduction to Design</h3>
                            </div>

                            <div>
                              <p>00:03:20</p>
                              <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                    </div>

              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>










  {% comment %}
    {% with category=object.category %}
        <h1>
            {{ object.title }}
        </h1>
        <div class="module">
            <h2>Overview</h2>
            <p>
                <a href="{% url 'course_list_category' category.slug %}">{{ category.title }}</a>. 
                {{ object.modules.count }} modules. Instructor: {{ object.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course' %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" value="Enroll now">
                </form>
            {% else %}
                <a href="{% url 'student_registration' %}" class="button">Register to enroll</a>
            {% endif %}
        </div>
    {% endwith %}
    {% endcomment %}
    
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
        this.classList.toggle("active-acc");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        } 
        });
        }
    </script>
{% endblock %}