{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}
   
    <section id="search">
        <div class="search">
        
        </div>
      </section>
        <section id="default" class="hero-course">
              <div class="default">
                <div class="hero-deets">
                  <h1>Learn from the best creatives</h1>
                  <p>find courses by Africa's best creators and professionals.</p>
      
                </div>
              </div>
          </section>

    <!-- <div class="contents">
        <h3>Categories</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected"{% endif %}>
                <a href="{% url 'course_list' %}">All</a>
            </li>
            {% for s in categories %}
                <li {% if category == s %}class="selected"{% endif %}>
                    <a href="{% url 'course_list_category' s.slug %}">
                        {{ s.title }}
                        {% comment %}<br><span>{{ s.total_courses }} courses</span>{% endcomment %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div> -->

    <!-- <section id="shop-list">
        <div class="shop-list row">
          <div class="shop-list-que">
            <aside>
              <div class="sidebar">
                <div class="search-class">
                  <h4>Search <span class="oop">Here</span></h4>
                  <form action="" method="post" class="search-transform">
                    <input class="form-control" type="search" name="search" placeholder="Search here..." required>
                    <button class="btn-search"><span class="search-icon">&#128269</span></button>
                  </form>
                </div>
  
                <div class="single-category">
                  <h4>Courses <span class="oop">Categories</span> </h4>
                    <ul class="list-group">
                        <li {% if not subject %}class="selected"{% endif %}>
                            <a href="{% url 'course_list' %}">All</a>
                        </li>
                        {% for s in categories %}
                            <li {% if category == s %}class="list-group-item"{% endif %}>
                                <a href="{% url 'course_list_category' s.slug %}" class="selected-cat">
                                    {{ s.title }}
                                    {% comment %}<br><span>{{ s.total_courses }} courses</span>{% endcomment %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
  
                <div class="single-filter">
  
                </div>
  
              </div>
            </aside>
          </div>
  
          <div class="shop-list-options">
            <div class="list-options-top">
              <section id="courses">
    <div class="courses">
      <div class="courses-head">
        <div class="courses-head-row">
          
          <div class="courses-update">
           <h4>Showing all 7 Courses</h4>
          </div>
        </div>
        
      </div>
  
      <div class="courses-row">
  
        <div class="courses-box">
            <div class="courses-update">
                <h4><Span>7</Span>
                 {% if category %}
                 {{ category.title }} courses
                 {% else %}
                     All courses
                 {% endif %}
                </h4>
               </div>
             </div>
             <hr>
           </div>
       
           <div class="courses-row">
       
            {% for course in courses %}
                {% with category=course.category %}
    
                    <div class="courses-box">
                    <a href="{% url 'course_detail' course.slug %}">
                    <img src="{% static 'img/ultimate-guide.png' %}" alt="">
                    <p class="course-difficulty"> For Beginners </p>
                    <h3>{{ course.title }}</h3>
                    <p class="price">₦ {{ course.price }}</p>
                    </a>
                    </div>
                {% endwith %}
            {% endfor %}
  
      </div>
  
  
            </div>
          </div>
  
        </div>
      </section> -->


      <section id="shop-list">
        <div class="shop-list row">
          <div class="shop-list-que">
            <aside>
              <div class="sidebar">
                <div class="search-class">
                  <h4>Search <span class="oop">Here</span></h4>
                  <form action="" method="post" class="search-transform">
                    <input class="form-control" type="search" name="search" placeholder="Search here..." required>
                    <button class="btn-search"><span class="search-icon">&#128269</span></button>
                  </form>
                </div>
  
                <div class="single-category">
                  <h4>Courses <span class="oop">Categories</span> </h4>
                  <ul class="list-group">

                    <li class="list-group-item" {% if not subject %}class="selected"{% endif %}>
                      <a href="{% url 'course_list' %}">All</a> 
                      <!-- <span class="badge pills">50</span> -->
                    </li>
                    {% for s in categories %}
                    <li class="list-group-item" {% if category == s %} {% endif %}>
                      <a href="{% url 'course_list_category' s.slug %}"> {{ s.title }}
                        {% comment %}<br><span>{{ s.total_courses }} courses</span>{% endcomment %}</a> 
                      <!-- <span class="badge pills">5</span> -->
                    </li>
                    {% endfor %}

                  </ul>
                </div>
  
                <div class="single-filter">
  
                </div>
  
              </div>
            </aside>
          </div>
  
          <div class="shop-list-options">
            <div class="list-options-top">
              <section id="courses">
    <div class="courses">
      <div class="courses-head">
        <div class="courses-head-row">
          
          <div class="courses-update">
           <h4>Showing all 7 Courses</h4>
          </div>
        </div>
        <hr>
      </div>
  
      <div class="courses-row">
        <div class="courses-row">
       
            {% for course in courses %}
                {% with category=course.category %}
    
                    <div class="courses-box">
                    <a href="{% url 'course_detail' course.slug %}">
                    <img src="{% static 'img/ultimate-guide.png' %}" alt="">
                    <p class="course-difficulty"> For Beginners </p>
                    <h3>{{ course.title }}</h3>
                    <p class="price">₦ {{ course.price }}</p>
                    </a>
                    </div>
                {% endwith %}
            {% endfor %}  
        </div>
  
      <div class="pagination">
        <div class="pagination-row">
          <div class="pagination-arrow">
            <a href=""><p>&lt;</p></a>
          </div>
          <div class="pagination-nums">
           <div><a href=""><p class="page">1</p></a></div> 
            <div><a href=""><p>2</p></a></div>
          </div>
          <div class="pagination-arrow">
            <a href=""><p>&gt;</p></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
            </div>
          </div>
  
        </div>
      </section>
      
      
      <!-- <section id="shop-list">
        <div class="shop-list row">
        <h2>Courses</h2>
          <br>
          <div class="courses-head">
            <div class="courses-head-row">
              <div class="courses-ordering list-ordering-select">


                <div class="single-category">
                    <h4>Course <span class="oop">Categories</span> </h4>

                    
                        <ul class="list-group">
                            <li {% if not subject %}class="selected"{% endif %}>
                                <a href="{% url 'course_list' %}">All</a>
                            </li>
                            {% for s in categories %}
                                <li {% if category == s %}class="list-group-item"{% endif %}>
                                    <a href="{% url 'course_list_category' s.slug %}" class="selected-cat">
                                        {{ s.title }}
                                        {% comment %}<br><span>{{ s.total_courses }} courses</span>{% endcomment %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>


                </div>




                <div class="contents">
                    <ul id="modules">
                        <li {% if not subject %}class="selected"{% endif %}>
                            <a href="{% url 'course_list' %}">All</a>
                        </li>
                        {% for s in categories %}
                            <li {% if category == s %}class="selected"{% endif %}>
                                <a href="{% url 'course_list_category' s.slug %}">
                                    {{ s.title }}
                                    {% comment %}<br><span>{{ s.total_courses }} courses</span>{% endcomment %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             
              </div>
              <div class="courses-update">
               <h4><Span>7</Span>
                {% if category %}
                {{ category.title }} courses
                {% else %}
                    All courses
                {% endif %}
               </h4>
              </div>
            </div>
            <hr>
          </div>
      
          <div class="courses-row">
      
        {% for course in courses %}
            {% with category=course.category %}

            <div class="courses-box">
              <a href="{% url 'course_detail' course.slug %}">
              <img src="{% static 'img/ultimate-guide.png' %}" alt="">
              <p class="course-difficulty"> For Beginners </p>
              <h3>{{ course.title }}</h3>
              <p class="price">₦ {{ course.price }}</p>
              </a>
            </div>
            {% endwith %}
        {% endfor %}
        
            {% comment %}<div class="module">
                        <h3>
                            <a href="{% url 'course_detail' course.slug %}"></a>
                        </h3>
                        <p>
                            <a href="{% url 'course_list_category' category.slug %}">{{ category }}</a>.
                                {{ course.total_modules }} modules. Instructor: {{ course.owner.get_full_name }}
                        </p>
              
            </div>{% endcomment %}
      
          </div>
      
            <div class="pagination">
            <div class="pagination-row">
              <div class="pagination-arrow">
                <a href=""><p>&lt;</p></a>
              </div>
              <div class="pagination-nums">
               <div><a href=""><p class="page">1</p></a></div> 
                <div><a href=""><p>2</p></a></div>
              </div>
              <div class="pagination-arrow">
                <a href=""><p>&gt;</p></a>
              </div>
            </div>
          </div>
        </div>
    </section> -->
{% endblock %}