{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section id="default" class="hero-about">
    <div class="default">
      <div class="hero-deets">
        <h1>About Us</h1>
        <!-- <p>become the best version of you today.</p> -->
      </div>
    </div>
</section>


<section id="tutor">
  <div class="tutor">
    <div class="tutor-info">
      <!-- <div class="tutor-img">
        <img src="img/learn-tutor.png" alt="">
      </div> -->

      <div class="tutor-deets">
        <h2>What we're trying to fix</h2>
        <p>
          New creators face several barriers to entry due a lack skills and resources. 
          There's a heavy monopoly on knowledge, information and key content production resources (equipment, creative services etc)
          Africa is a unique landscape, information and education available from  MOOC's offer solutions that may not be applicable to our market conditions.
        </p>
        <br>
        <h2>Our Solution</h2>
        <p>
        The idea was driven by the need for innovation in the creative industry 
        and to decentralise the monopoly of information, knowledge available.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about-info">
  <div class="about-info">
    <!-- <div class="about-info-box first-box">
      <h1 class="about-title">Our Solution</h1>
      <p>
      The idea was driven by the need for innovation in the creative industry 
      and to decentralise the monopoly of information, knowledge available.
      </p>
    </div>
     -->
    
    <div class="about-info-box">
      <div class="about-box">
        <div class="about-img">
        <img src="{% static 'img/community.svg' %}" alt="">
        </div>
        <p>
          We're passionate about positively inspiring and building a community of
         creators, That's why we're enabling a classifieds marketplace where you
          easily access resources like equipment and production services.
        </p>
      </div>
    </div>

    <div class="about-info-box">
      <div class="about-box">
        <div class="about-img">
         <img src="{% static 'img/online-learning.svg' %}" alt="">
        </div>
        <p>
        Justproduce.it provides a learning centre which offers specific courses and 
        educational content tailored to our local landscape, with the aim of helping 
        students launch into the creative market within the shortest possible time. 
        The courses will be provided by seasoned and reputable industry practitioners.
        </p>
      </div>
    </div>

    <div class="about-info-box">
      <div class="about-box">
        <div class="about-img">
        <img src="{% static 'img/launch.svg' %}" alt="">
        </div>
        <p>
        Justproduce.it combines everything you need to get started with your creative 
        journey into one simple but powerful platform. We're also supporting this with 
        a robust content system packed with free inspiring and engaging content to support the community
        </p>
      </div>
    </div>

  </div>
</section>
{% endblock %}