{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}JustProduceit{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <title>{% block title %}JustProduceit{% endblock title %}</title>
    <!--Main css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- Flex slider-->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
 
    <!-- javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>


    <meta name="title" content="JustProduceit">
    <meta name="keywords" content="justProduceit, rent video equipments in lagos, rent video equipments, just produce it, produce it, just, rent camera, rent videocamera">
    <meta name="description" content="Learn essential skills from Africa's best creators and rent top gear from the best production companies and owners near you.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://justproduce.it/">
    <meta property="og:title" content="JustProduceit">
    <meta property="og:image" content="https://justproduce.it/img/justproduceit.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://justproduce.it/">
    <meta property="twitter:title" content="JustProduceit">
    <meta property="twitter:description" content="Learn essential skills from Africa's best creators and rent top gear from the best production companies and owners near you.">
    <meta property="twitter:image" content="https://justproduce.it/img/justproduceit.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180296503-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180296503-1');
    </script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div>
          <div class="row justify-content-between align-items-center">
            <div class="logo pd">
              <a href="/" class="brand-name">
                <img class="logo-img" src="{% static 'img/just-beta-logo.png' %}" alt="Just Produce it logo">
              </a>
            </div>
            <button class="navbar-nav-toggle pd">
              <span></span>
            </button>
            <div class="navbar-nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'equipments_catalogue:equipment_categories' %}">Rent</a></li>            
                <li><a href="{% url 'equipments_catalogue:list_gear' %}">Learn</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="sub-menu-toggle">{{ user.first_name }}</a>
                  <ul class="sub-menu">
                    <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    <!-- <li><a href="{% url 'student_course_list' %}">View My Courses</a></li> -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                  <li><a  href="{% url 'login' %}">Login</a></li>
                  <li><a class="btn-dark"href="{% url 'student_registration' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
      
    {% endblock  %}
    <!-- For new stuffs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        {% block domready %}
        {% endblock %}
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  </body>


{% include 'footer.html' %}

<script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>
</html>