{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- {% if equipment_category %}
        <h1>Welcome to JPI {{ cats }} Page</h1>
        {% for equipment in equipment_category %}
            <div>
                <div class="explore-courses-box">
                    <a href="{% url 'equipments_catalogue:equipment_detail' equipment.slug %}">
                        <img src="{{ equipment.image.url }}" alt="image of equipment">
                    </a>
                    <div class="courses-box-deets">
                    <h3>{{ equipment.name }}</h3>
                    <p>{{ equipment.seller_name }}</p>
                    <p class="price">₦ {{ equipment.price }}</p>
                    </div>
                </div>
                {{ equipment.image }}
            </div>
            <br>
        {% endfor %}
    {% else %}
    <h1>Sorry this page does not exist </h1>
    {% endif %} -->


    <section id="search">
        <div class="search">
        
        </div>
      </section>
        <section id="default" class="hero-shop">
              <div class="default">
                <div class="hero-deets">
                  <h1>The largest gear sharing community</h1>
                  <p>your place to discover top gear</p>
      
                </div>
              </div>
          </section>
      
          
          <section id="shop-list">
            <div class="shop-list row">
              <div class="shop-list-que">
                <aside>
                  <div class="sidebar">
                    
      
                    <div class="single-category">
                      <div class="search-class">
            <h4>Search <span class="oop">Here</span></h4>
            <form action="{% url 'equipments_catalogue:search-results' %}" method="get" class="search-transform">
              
              <input class="form-control" type="search" name="q" placeholder="Search here..." required>
              <button class="btn-search"><span class="search-icon">&#128269</span></button>
            </form>
          </div>
                        <h4>Product <span class="oop">Categories</span> </h4>

                        
                            <ul class="list-group">
                            {% for category in categories %}    
                                <li class="list-group-item">
                                    <a href="{% url 'equipments_catalogue:equipment_by_category' category.name %}" class="selected-cat">{{ category.name }}</a> 
                                    <!-- <span class="badge pills">{{ equipments | length }}</span> -->
                                </li>
                            {% endfor %}   
                            </ul>


                    </div>
      
                    <div class="single-filter">
      
                    </div>
      
                  </div>
                </aside>
              </div>
      
              <div class="shop-list-options">
                <div class="list-options-top">
                  <div class="list-result">
                    <h4>Showing all {{ equipment_category | length }} results</h4>
                  </div>
                  <!-- <div class="list-ordering">
                    <div class="list-ordering-select">
                      <select>
                      <option value="menu_order" selected="selected">Default Sorting</option>
                                                      <option value="popularity">Sort by Popularity</option>
                                                      <option value="rating">Sort by Average rating</option>
                                                      <option value="date">Sort by latest</option>
                                                      <option value="price">Sort by Price: low to high</option>
                                                      <option value="price-desc">Sort by Price: high to low</option>
                      </select>
                    </div>
                  </div> -->
      <!-- grid  -->
                    <div class="product-grid">


            {% for equipment in equipment_category %}
              <div class="product-grid-box">
                  <a href="{% url 'equipments_catalogue:equipment_detail' equipment.slug %}">
                      <div class="product-image">
                          <img src="{{ equipment.image_1.url }}" alt="Image of equipment">
                      </div>
                          <div class="product-content">
                          <h3 class="title">{{ equipment.name }}</h3>
                          <p>{{ equipment.vendor_name }}</p>
                          <span>&#8358; {{ equipment.price }}</span>
                      </div>
                  </a>
              </div>
            {% empty %}
              <h4>Sorry, no items at the moment.</h4>
            {% endfor %}
      
                     
                </div>
              </div>
      
            </div>
          </section>
      





{% endblock %}