{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <section id="default" class="hero-rent">
        <div class="default">
          <div class="hero-deets">
            <h1>Discover top gear from vendors around you.</h1>
          </div>
        </div>
    </section>

    <section id="gear">
        <div class="gear">
        <h2>Top Categories</h2>
      
            <div class="gear-categories">
                <div class=" owl-one owl-carousel owl-theme">
                 
        {% for category in object_list %}                 
                    <div class="item">
                        <a href="{% url 'equipments_catalogue:equipment_by_category' category.name %}">
                            <div class="gear-box">
                                <img src="{{ category.image.url }}" alt="">
                                <p>{{ category.name }}</p>
                            </div>
                        </a>
                    </div>
                    
        {% endfor %}
                </div>
            </div>
        
</section>

<section id="commercial">
  <div class="brief-deets cm">
    <div class="commercial-deets">
      <h3>Need some extra help? tell us about your project</h3>
      <p>We'll recommend the right gear and vendors for you.</p> <br>
      <a href="{% url 'start_another_project' %}" class="btn-white">Talk to us</a>
    </div>
  </div>
</section>


  <section id="list">
    <div class="list">
        <div class="list-deets">
        <h2>Rent or sell your equipments</h2>
        <p>Join our market place and get your gears to creatives who need them. </p>
        </div>

        <div class="list-info">
          <div class="list-box">
            <img src="{% static 'img/money.svg' %}" alt="money icon">
            <h3>Earn money renting</h3>
            <p>Put your gear to work while you're not using it.
              Meet with creatives near you and make extra cash renting your gear to them.
            </p>
          </div>

          <div class="list-box">
            <img src="{% static 'img/sale.svg' %}" alt="Sale icon">
            <h3>Sell if you like</h3>
            <p>You can sell that old gear that you don't use anymore. We have a huge number of creatives and upcoming creatives who
              would like to make use of them.
            </p>
          </div>

          <div class="list-box">
            <img src="{% static 'img/protection.svg' %}" alt="safety icon">
            <h3>Safe</h3>
            <p>All our listings have undergone serious checks and will only be put up if they meet the minimum requirments.
            </p>
          </div>

        </div>
        <div class="list-btn">
        <a href="{% url 'equipments_catalogue:list_gear' %}" class="btn-red">List your gear</a>
        </div>
    </div>

    </section>



    <script>
        $(document).ready(function() {
        $('.owl-one').owlCarousel({
              items: 5,
            loop:true,
            margin:10,
          nav:false,
          autoplay:true,
          autoplayTimeout:5000,
          autoplayHoverPause:true,
            responsive:{
                0:{
                    items:2
                },
                600:{
                    items:4
                },
                1000:{
                    items:5
                }
            }
        })
        })
        </script>
    
    <script>
        $(document).ready(function() {
        $('.owl-two').owlCarousel({
              items: 2,
            loop:false,
            margin:0,
          nav:false,
          autoplay:false,
          autoplayTimeout:20000,
          autoplayHoverPause:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:2
                }
            }
        })
        })
        </script>

{% endblock %}