{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section id="default" class="hero-shop">
    <div class="default">
      <div class="hero-deets">
        <h1>The largest gear sharing community</h1>
        <p>your place to discover top gear</p>

      </div>
    </div>
</section>
    <!-- {% for equipment in object_list %}
        {{ equipment.name }} in {{ equipment.category }}<br><br>
    {% endfor %} -->
    
    <div class="shop-list-options">
        <div class="list-options-top">
    {% for equipment in object_list %}
    
    
            <div class="product-grid-box">
                <a href="{% url 'equipments_catalogue:equipment_detail' equipment.slug %}">
                    <div class="product-image">
                        <img src="{{ equipment.image_1.url }}" alt="Image of equipment">
                    </div>
                        <div class="product-content">
                        <h3 class="title">{{ equipment.name }}</h3>
                        <p>{{ equipment.vendor_name }}</p>
                        <span>&#8358; {{ equipment.price }}</span>
                    </div>
                </a>
            </div>
     
    {% empty %}
        <h4>Sorry, no items at the moment.</h4>

        <!-- <a href="{% url 'equipments_catalogue:equipment_detail' equipment.slug %}">{{ equipment.name }}</a><br><br> -->
    {% endfor %}
   </div>
    </div>
{% endblock %}