{% extends 'base.html' %}
{% load static %}

{% block content %}


<section id="single-page">
<div class="single-page">
  <div class="single-page-deets">
      <div class="product-img">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            {% if equipment.image_1 %}
            <li data-thumb="{{ equipment.image_1.url }}">
              <img src="{{ equipment.image_1.url }}" />
            </li>
            {% else %}

            {% endif %}

            {% if equipment.image_2 %}
            <li data-thumb="{{ equipment.image_2.url }}">
              <img src="{{ equipment.image_2.url }}"/>
            </li>
            {% else %}

            {% endif %}
            {% if equipment.image_3 %}
            <li data-thumb="{{ equipment.image_3.url }}">
              <img src="{{ equipment.image_3.url }}" />
            </li>
            {% else %}
            {% endif %}

            {% if equipment.image_4 %}
            <li data-thumb="{{ equipment.image_4.url }}">
              <img src="{{ equipment.image_4.url }}" />
            </li>
            {% else %}

            {% endif %}
          </ul>
        </div>
        
      </section>
      <hr>
      <div class="product-info">
        <div class="product-name">
          <div class="cat">
          <p>{{ object.get_category_display }}</p>
          </div>
          <h2>{{ object.name }}</h2>
          <div class="location">
            <img src="{% static 'img/location-pin.svg' %}" alt="location icon">
            <p>{{ object.vendor_location }}</p>
          </div>
        </div>
      </div>
      <hr>
        <div class="product-info">
          <h4>Description</h4>
          {{ object.description }}
        </div>
      </div>

    <div class="product-deets">
    
      <div class="product-price">
        <p>₦{{ object.price }}</p>
      </div>
    
      <br>
      <div class="rent-profile">
       <h4>Get in touch</h4>
        <img src="{% static 'img/profile.svg' %}" alt="">
        <p><b>{{ object.vendor_name }}</b></p>
      </div>
      <div class="get-in-touch">
        {% if object.vendor_number %}
        <a href="tel:{{ object.vendor_number }}" class="call-btn"> <img src="{% static 'img/call.svg' %}" alt="call icon">{{ object.vendor_number }}</a>
        {% else %}

        {% endif %}
        <br>
        <br>
        <br>
        {% if object.vendor_number_2 %}
        <a href="tel:{{ object.vendor_number_2 }}" class="call-btn"> <img src="{% static 'img/call.svg' %}" alt="call icon">{{ object.vendor_number_2 }}</a>

        {% else %}

        {% endif %}

      </div>
    </div>
  </div>
</div>
</section>

 <script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>




{% comment %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ equipment.pic.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="{% url 'equipments_catalogue:equipment_categories' %}">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>#{{ object.price }}</del>
              </span>
              <span>#{{ object.discount_price }}</span>
              {% else %}
              <span>#{{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

           <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> 
            <br/>
            <p>Get in touch with {{ object.seller }}</p>&middot;
            <p>{{ object.seller_number }}</p>
            <!-- Pay and cart buttons-->
            <!-- <a href="/fire-equipment-payment/{{equipment.id}}/" class="btn btn-md my-0 p" style="background-color:#22dd22;">Pay</a>

            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a> -->

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <!-- <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div> -->
        <!--Grid column-->

      </div>

    </div>
  </main>
{% endcomment %}
  <!-- SCRIPTS -->
  </body>




{% endblock %}