{% load static %}
<footer>
    <div class="footer">
      <div class="footer-info">

        <div class="footer-img">
          <img src="{% static 'img/just-beta-logo.png' %}" alt="footer logo">
        </div>
        
        <div class="footer-deets">
          <div class="footer-box flex">
            <h3>Contact us</h3>
            <ul>
              <li><a href="https://goo.gl/maps/" target="_blank"> Lagos Nigeria</a> </li>
              <li><a href="mailto:hello@justproduceit.com" > Email Us</a> </li>
            </ul>
            </div>

          <div class="footer-box flex">
            <h3> Useful LInks</h3>
            <ul>
              <li><a href="/">Home</a></li>                
              <li><a href="{% url 'equipments_catalogue:equipment_categories' %}">Rent</a></li>
              <li><a href="{% url 'equipments_catalogue:equipment_categories' %}">Categories</a></li>
              <li><a href="{% url 'equipments_catalogue:list_gear' %}">Learn</a></li>
              <li><a href="{% url 'about' %}">About</a></li>

            </ul>
          </div>

          <div class="footer-box flex">
            <h3> Discover</h3>
            <ul>
              <li><a href="{% url 'equipments_catalogue:list_gear' %}">Create</a></li>                
              <!-- <li><a href="gear">Gear</a></li> -->
              <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
            </ul>
            
          </div>
     
      </div>

      </div>
    </div>
    <div class="copyright">
      <p>Copyright Global Creative Operations 2020- All Rights Reserved</p>
    </div>
  </footer>
  <div class="feedback" id="fixedbutton">
    <a href="{% url 'feedback' %}" class="btn-dark">Open Beta</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>

  </body>
