{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="home">
  <div class="slider">
      <div class="slide active hero1">
          <div class="container">
              <div class="caption">
                  <h1>Everything you need to create something <span class="clr-red">AWESOME</span></h1>

                  <a class="btn-white" href="{% url 'equipments_catalogue:equipment_categories' %}">Explore</a>
              </div>
          </div>
      </div>

      <div class="slide hero2">
          <div class="container">
              <div class="caption">
                  <h1>Learn new skills from some of <span class="clr-red">AFRICA'S</span> best creators and professionals</h1>
                  <a class="btn-red" href="">Learn Now</a>
              </div>
          </div>
      </div>

      <div class="slide hero3">
          <div class="container">
              <div class="caption">
              <h1 class="text-white"><span class="clr-red">DREAMING</span> of creating with the best tools?</h1>
              <a class="btn-red" href="{% url 'equipments_catalogue:equipment_categories' %}">Rent Now</a>
              </div>
          </div>
      </div>

      <!-- <div class="slide hero4">
          <div class="container">
              <div class="caption">
              <h1 class="text-white">Connect with creatives, showcase your portfolio and get <span class="clr-red">HIRED!</span></h1>
              <a class="btn-red" href="">Explore</a>
              </div>
          </div>
      </div> -->

  </div>
  
  <!--Controls-->
  <div class="controls">
      <div class="prev">&#8592;</div>
      <div class="next">&#8594;</div>
  </div>
</section>

<section id="brief">
<div class="brief">
  <div class="brief-box">
    <div class="brief-row">
      <div class="brief-text">
        <h2>
          Start Creating Now
        </h2>
        <br>
        <p>
          Access everything you need to get started with your creative journey.
        </p>
      </div>
      <div class="brief-buttons">
        <div class="brief-buttons-con">
          <a href="{% url 'equipments_catalogue:equipment_categories' %}" class="btn-outline sp">Rent</a>
          <a href="" class="btn-white sp" >Learn</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- <section id="explore">
<div class="explore">
  <div class="explore-head">
    <h4>Explore various courses tailored to teach you practical and relatable skills for the African market.</h4>
  </div>

  <div class="explore-deets">
    <div class="explore-deets-img">
      <img src="{% static 'img/explore-image.png' %}" alt="">
    </div>
    <div class="explore-deets-info">
      <div class="explore-courses">

        <a href="">
        <div class="explore-courses-box">
          <img src="{% static 'img/learnvid.png' %}" alt="">
          <div class="courses-box-deets">
            <h3>The complete videography course</h3>
            <p>John Okon</p>
            <p class="price">₦ 5,000</p>
          </div>
        </div>
        </a>

        <a href="">
        <div class="explore-courses-box">
          <img src="{% static 'img/learnvid.png' %}" alt="">
          <div class="courses-box-deets">
            <h3>The complete videography course</h3>
            <p>John Okon</p>
            <p class="price">₦ 5,000</p>
          </div>
        </div>
        </a>

      </div>

      <br>
      <div class="explore-courses">

        <a href="">
        <div class="explore-courses-box">
          <img src="{% static 'img/learnvid.png' %}" alt="">
          <div class="courses-box-deets">
            <h3>The complete videography course</h3>
            <p>John Okon</p>
            <p class="price">₦ 5,000</p>
          </div>
        </div>
        </a>

        <a href="">
        <div class="explore-courses-box">
          <img src="{% static 'img/learnvid.png' %}" alt="">
          <div class="courses-box-deets">
            <h3>The complete videography course</h3>
            <p>John Okon</p>
            <p class="price">₦ 5,000</p>
          </div>
        </div>
        </a>

      </div>
      <br><br>
      <div class="courses-btn">
        <a href="" class="btn-red">View More</a>
      </div>
    </div>
  </div>
</div>
</section> -->

<section id="category">
  <div class="category">
      <h2>Top Categories</h2> 
      <br>
      <div class="gear-categories">
  <div class=" owl-one owl-carousel owl-theme">
          <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/camera.png' %}" alt="">
            <p>Camera</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/lights.png' %}" alt="">
            <p>Lights</p>
            </div>
            </a>
          </div>
          <!-- <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/props.png' %}" alt="">
            <p>Props</p>
            </div>
            </a>
          </div> -->
          <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/vehicles.png' %}" alt="">
            <p>Vehicles</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/drones.png' %}" alt="">
            <p>Drones</p>
            </div>
            </a>
          </div>
          <!-- <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/tripod.png' %}" alt="">
            <p>Tripods</p>
            </div>
            </a>
          </div> -->
          
          <!-- <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/tele.png' %}" alt="">
            <p>Teleprompters</p>
            </div>
            </a>
          </div> -->

          
          <div class="item">
            <a href="{% url 'equipments_catalogue:equipment_categories' %}">
              <div class="gear-box">
            <img src="{% static 'img/mic.png' %}" alt="">
            <p>Sound equipment</p>
            </div>
            </a>
          </div>
        </div>

  </div>
  <div class="category-rent">
  <a href="{% url 'equipments_catalogue:equipment_categories' %}" class="btn-red">Rent Now</a>
  </div>
</section>


<section id="project">
  <div class="project">
    <h2>
      Ready to launch your big project?
    </h2>
    <p>Let us help you.</p>
    <br>
    <a href="{% url 'start_a_project' %}" class="btn">Launch Project</a>
  </div>
</section>

<script>
  $(document).ready(function() {
  $('.owl-one').owlCarousel({
        items: 5,
      loop:true,
      margin:10,
    nav:false,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
      responsive:{
          0:{
              items:2
          },
          600:{
              items:4
          },
          1000:{
              items:5
          }
      }
  })
  })
  </script>

{% endblock %}
