{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="default" class="hero-list-gear">
    <div class="default">
      <div class="hero-deets">
      <h1>Coming Soon</h1>
        <!-- <h1>Learn anytime</h1>
        <p>become the best version of you today.</p> -->
      </div>
    </div>
  </section>


    <!-- <section id="tutor">
      <div class="tutor">
        <div class="tutor-info">
          <div class="tutor-img">
            <img src="img/learn-tutor.png" alt="">
          </div>

          <div class="tutor-deets">
            <h2>Learn Videography</h2>
            <br>
            <p>We’re a team of makers, thinkers, explorers and 
              theatre singers. We approach work and play with curiosity
               and experimentation, using what we learn to create meaningful 
               digital products that connect with people, just like you.
            </p>
            <br>
            <a href="" class="btn-red">View Course</a>
          </div>
        </div>
      </div>
    </section> -->

{% endblock %}