{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <section id="search">
        <section id="default" class="hero-shop">
              <div class="default">
                <div class="hero-deets">
                  <h1>The largest gear sharing community</h1>
                  <p>your place to discover top gear</p>
      
                </div>
              </div>
          </section>
          <div class="shop-list-options">
            <div class="list-options-top">

              <div class="product-grid">
                {% for equipment in equipment_category %}
                  <div class="product-grid-box">
                      <a href="{% url 'equipments_catalogue:equipment_detail' equipment.slug %}">
                          <div class="product-image">
                              <img src="{{ equipment.image_1.url }}" alt="Image of equipment">
                          </div>
                              <div class="product-content">
                              <h3 class="title">{{ equipment.name }}</h3>
                              <p>{{ equipment.vendor_name }}</p>
                              <span>&#8358; {{ equipment.price }}</span>
                          </div>
                      </a>
                  </div>
                {% empty %}
                  <h4>Sorry, no items at the moment.</h4>
                {% endfor %}   
              </div>
            </div>
          </div>
          
    </section>
      





{% endblock %}