@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
  }

  ::-webkit-scrollbar{ width: 5px; }
  ::-webkit-scrollbar-track{ background: white}
  ::-webkit-scrollbar-thumb{ background: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%); border-radius: 2.5px;}
  ::-webkit-scrollbar-thumb:hover{background: linear-gradient(279deg, #9E2FDE 0%,#B5123F 100%);}

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; 
    overflow-y: scroll; 
    color: rgb(24, 24, 24);
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
.oop{
  color: #B5123F;
}
  a{
    text-decoration: none;
   }

   h1{
    font-size: 40px;
    font-weight: 1000;
    font-weight: 700;
    }

    h4{
      font-weight: 600;
      font-size: 24px;
      line-height: 38px !important;
      letter-spacing: -0.13px;
    }

    p, li{
        font-size: 16px;
        font-weight: 300;
        color: rgb(43, 43, 43);
        opacity: 1;
        padding: 0;
    }

    /* Utility */
    .btn-white {
      background: white;
      color: black;
      padding: 10px 20px;
      border-radius: 6px;
      z-index: 100;
    }
    .btn-outline {
      background: none;
      color: white;
      padding: 10px 20px;
      border-radius: 6px;
      border: solid white 1px;
      z-index: 100;
    }
    .btn-outline:hover {
      background: white;
      color: black;
    }
    .clr-red{
      color: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
    }
    
    .btn-red {
      background: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
      color: white;
      padding: 10px 20px;
      border-radius: 6px;
    }
    .btn-white:hover{
      background: rgb(211, 211, 211);
      color: black;
    }
    
    .btn-red:hover{
      color:white;
      background: linear-gradient(279deg, #9E2FDE  0%,#B5123F 100%);
    }
    .btn{
      color:linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
      background: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .btn-dark{
      color: white !important;
      background: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }

    .btn-dark:hover{
      background: linear-gradient(279deg, #9E2FDE 0%,#B5123F 100%);
    }

    /*end Utility */

    .section-header{
      font-size: 50px;
      font-weight: 1000;
      font-weight: 700;
      text-align: center;
    } 
    .section-header2{
      font-size: 30px;
      text-align: center;
      color:  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
    }
    /* .section-header::after,
    .section-header2::after{
      display: block;
      text-align: center;
      content: "";
      border-top: .2rem solid #fa9602;
      width: 4rem;
      margin: 0 auto;
      transform: translateY(0.5rem);
      padding: 4px;
  } */
 
/* header */
header{
	position: fixed;
	z-index: 1000;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.911);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.navbar{
    width: 90%;
    z-index: 3;
    margin: 0 auto;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}

.logo-img{
	width: 20%; /* changed */
	height: auto;
	padding: 2%;
}
.navbar .navbar-nav-toggle{
	height:32px;
	width: 40px;
	background-color: transparent;
	border:1px solid  #B5123F;
	border-radius:3px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.navbar .navbar-nav-toggle:focus{
	outline: none;
}
.navbar .navbar-nav-toggle span{
	height: 2px;
	width: 16px;
	display: inline-block;
	background-color:  #B5123F;
	position: relative;
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span{
	background-color: transparent;
}
.navbar .navbar-nav-toggle span::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 2px;
	width: 100%;
	background-color:  #B5123F;
	transform: translateY(-6px);
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span::before{
	transform: translateY(0) rotate(45deg);
}
.navbar .navbar-nav-toggle span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 2px;
	width: 100%;
	background-color:  #B5123F;
	transform: translateY(6px);
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span::after{
	transform: translateY(0) rotate(-45deg);
}
.navbar .navbar-nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
.navbar .navbar-nav ul > li{
	display: inline-block;
	margin:0 25px;
	position: relative;
}
.navbar .navbar-nav ul > li:last-child{
 margin-right:0;	
}
.navbar .navbar-nav ul > li > a{
	margin:20px 0;
	display: block;
	color: black;
    font-size:15px;
    font-weight: 500;
	text-decoration: none;
	position: relative;
	transition: color 0.3s ease;
}

.navbar .navbar-nav ul > li > a:hover::before{
	width: 100%;
}
.navbar .navbar-nav ul > li > a:hover{
	color: #B5123F;
}

.navbar .navbar-nav ul > li > .sub-menu{
	position: absolute;
    background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 220px;
	top:100%;
	left:0;
	border-top:3px solid  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
	margin:20px 0 0 0;
	padding:0;
	list-style: none;
	z-index:10;
	opacity:0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.navbar .navbar-nav ul > li:hover > .sub-menu{
    opacity:1;
	visibility:visible;	
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li{
	display: block;
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a::before{
	content: none;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a{
	color: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
	transition: all 0.3s ease;
	padding:14px 20px;
	text-decoration: none;
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a:hover{
	color:linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
}
.main{
  color:  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%) !important;
}
/*Responsive Navbar*/

@media(max-width: 991px){
	.navbar .navbar-nav ul > li{
		margin:0 15px;
	}
}

@media(max-width: 767px){
	.navbar{
		color:  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
	}
	.navbar .navbar-nav-toggle{
		display: flex;
	}

	.pd{
		margin: 1.2%;
	}
  .navbar .navbar-nav{
  	max-height: 0;
  	flex-basis: 100%;
  	max-width: 100%;
  	overflow: hidden;
  	transition: all 0.5s ease;
  }

  .navbar .navbar-nav ul{
  	/* background-color: #001338 ; */
  	margin-top:12px;
  }
  .navbar .navbar-nav ul > li{
  	display: block;
  	margin:0;
  }
  .navbar .navbar-nav ul > li > a::before{
     content: none;
  }
  .navbar .navbar-nav ul > li > a {
    padding: 12px 15px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    color:  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
 }
 .navbar .navbar-nav ul > li > .sub-menu{
 	max-height: 0;
 	overflow: hidden;
 	position: relative;
 	width: 100%;
 	box-shadow: none;
 	margin:0;
 	visibility: visible;
 	opacity: 1;
 	background-color: transparent;
 	border: none;
 }
 .navbar .navbar-nav ul > li > .sub-menu > li > a{
 	color:  linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
 	padding:14px 20px 12px 40px;
 }
}
/* end header */


  /* slider */
  .home{
    height: 120vh;
    overflow: hidden;
    position: relative;
  }

  .home .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    z-index: 1;
    display: none;
    padding: 0 15px;
    animation: slide 2s ease;
  }

  .home .slide.active{
    display: flex;
  }
  @keyframes slide{
    0%{
      opacity: 0; transform: scale(1.1);
    }
    100%{
      opacity: 1; transform: scale(1);
    }
  }

  .container{
    max-width: 75%;
    margin: auto;
    flex-grow: 1;
  }

  .home .container{
    flex-grow: 1;
  }

  .home .caption {
    width: 50%;
  }

  .home .slide.active .caption h1 {
    padding-bottom: 15px;
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1s;
  }

  .home .slide.active .caption a{
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.2s;
  }

  @keyframes captionText {
    0%{
      opacity: 0; transform: translateX(-100px);
    }
    100%{
      opacity: 1; transform: translateX(0px);
    }
  }

  .home .controls .prev,
  .home .controls .next{
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #ffffff;
    background-color: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 10px;
  }

  .home .controls .prev:hover,
  .home .controls .next:hover{
    background-color: rgba(87, 11, 19, 0.322);
  }
  .home .controls .prev{
    left: 1%;
  }

  .home .controls .next{
    right: 1%;
  }

  .hero1{
    background-image:url('../img/landing1.png');
  }
  .hero2{
    background-image:url('../img/landing2.png');
  }
  .hero3{
    background-image:url('../img/landing3.png');
  }
  .hero4{
    background-image:url('../img/landing4.png');
  }
  @media only screen and (max-width: 600px) {
    .home .caption {
      width: 100%;
  }
    .home {
      height: 75vh;
    }
   h1{
     font-size: 30px;
   }
  
  }
/* end hero section */


/* footer */
.copyright {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
}

.copyright p {
  color: white;
  font-size: 14px;
} 

footer{
  width: 100%;
  background-color: black;
  color: #ffffff;
}

.footer{
  width: 100%;
  padding: 5%;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.footer-deets{
  width: 50%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.footer-img{
  width: 15%;
}

.footer-img img{
  width: 30%;
}
.flex{
  flex: 1;
  padding: 2%;
}

.footer-box h3{
  padding-bottom: 3%;
}
.footer-box ul li a{
  color: rgb(158, 158, 158);
}
.footer-box ul li a:hover{
  color: white;
}
.footer-box ul li{
  padding-bottom: 2px;
  list-style: none;
}
/* end footer */

/* brief*/
#brief{
  position: relative;
  margin-top: -100px;
  z-index: 100;
  width: 100%;
}

.brief{
  width: 90%;
  margin:  0 auto;
}
.brief-box{
  border-radius: 10px;
  background-image: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
  color: white;
}
.brief-row{
  display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4% 5%;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.brief-text{
  max-width: 500px;
  color: white;
}
.brief-text p{
  color: white;
}
.brief-buttons{
  padding: 5px;
}
.brief-buttons-con{
  display: flex;
}
.sp{
  margin: 6px;
  padding: 10px 50px;
}
/* End brief section*/
/* Explore */
  #explore{
    width: 100%;
    padding: 10% 0% 0% 0%;
  }
  .explore{
    width: 100%;
    margin: 0 auto;
  }
  .explore-head{
    width: 60%;
    margin:0 auto;
    text-align: center;
  }
  .explore-head h4{
    font-size: 20px;
  }
  .explore-deets{
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    justify-content: space-around;    
  }
  .explore-deets-img{
    flex: 1;
  }
  .explore-deets-img img{
    width: 100%;
    padding: 5%;
  }
  .explore-deets-info{
    flex: 1;
  }
  .explore-courses{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .explore-courses-box{
    margin: 5%;
    background-color: #f8f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  .explore-courses-box img{
    width: 100%;
  }
  .courses-box-deets{
    padding: 6%;
  }
  .courses-box-deets h3{
    font-size: 17px;
    font-weight: 500;
    color: black;
    padding-bottom: 6px;
  }
  .courses-btn{
    text-align: center;
  }
/* end Explore */

/* category */
#category{
  width: 100%;
  padding: 6% 1%;
  text-align: center;
}

.category{
  width: 80%;
  margin: 0 auto;
}

.category-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3% 0%;
}

#category-btn {
width: 30%;
cursor: pointer;
user-select: none;
transition: 0.2s ease-in;
background-color: white;
padding: 15px;
box-shadow: 1px 3px 8px #bbbaba;
text-align: left;
}

#category-btn .arrow {
transition: 0.4s ease-in;
padding-left: 80px;
float: right;
}

#category-btn:hover .arrow {
transform: translatex(10%);
}

.category-rent {
margin: 5%;
}
@media only screen and (max-width: 600px){
.category-content{
  text-align: center;
}
.category{
  padding-bottom: 3%;
}
.category-btn{
  margin: auto;
}
#category-btn .arrow {
  padding-left: 0px;
  float: center;
}
.arrow{
  display: none;
}
}
/* end category*/
/* rent Page */
#default{
  width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.default{
  width: 80%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-rent{
  background-image:url('../img/rent-hero.png');
}
.hero-deets{
  color: white;
}
.hero-deets p{
  color: white;
}

#gear{
  width: 100%;
  padding: 5%;
}
.gear{
  width: 100%;
  margin: 0 auto;
}
.gear-categories{
  width: 100%;
  margin: 3% 3%;
}
.gear-box{
  width: 80%;
  margin: 10% auto;
  text-align: center;
  padding: 4%;
  border-radius: 5px;
}
.gear-box img{
  width: 50%;
  margin: 0 auto;
}

a .gear-box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
/* complete package*/
.complete-package{
  padding: 4% 0%;
}
.complete-box{
  padding: 4%;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.complete-box:hover{
  transform: scale(1.05);
}
.complete-box img{
  width: 50%;
  margin: 0 auto;
}
.complete-box-deets{
  padding: 5px;
}
.price{
  color:  #B5123F;
  font-weight: 500;

}
.title{
  font-size: 15px;
  font-weight: 500;
  
}
/* end rent page*/

/* Commercial */
  #commercial{
    width: 100%;
  }
  .brief-deets{
   min-width: 100%;
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 2s ease;
  }
  .cm{
    background-image:url('../img/rent-back.png');
  }
  .lb{
    background-image:url('../img/learn-back.png');
  }
  .commercial-deets{
    width: 100%;
    padding: 5% 10%;
    color: white;
  }
  .commercial-deets p{
    color: white;
  }
/* end commercial */
/* porpular*/
#porpular{
  width: 100%;
  padding: 3%;
}
.porpular-info{
  width: 100%;
  padding: 5% 0%;
}
.porpular-info-deets{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.porpular-box{
  background-color: #9E2FDE;
  height: 100%;
  border-radius: 25px;
  margin: 1%;
  padding: 2%;
}
.porpular-box img{
  width: 100%;
}
/* end porpular*/
/* List */
#list{
  width: 100%;
  padding: 5%;
}
.list{
  width: 80%;
  margin: 0 auto;
}

.list-deets{
  text-align: center;
}

.list-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
}

.list-box{
  padding: 2%;
  text-align: center;
  flex: 1;
}
.list-box img{
  width: 40%;
}

.list-btn{
  text-align: center;
}

/* end list*/
/* learn list */
#learn-list{
  width: 100%;
  padding: 5%;
}
.list{
  width: 80%;
  margin: 0 auto;
}

.learn-list-deets{
  text-align: center;
}

.learn-list-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
}

.learn-list-box{
  padding: 5%;
  text-align: center;
  flex: 1;
  text-align: left;
  transition: all .2s ease-in-out;
}
.learn-list-box img{
  width: 100%;
}

.learn-list-box:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.list-btn{
  text-align: center;
}

/* end list*;

/* Learn Page*/
.hero-learn{
  background-image:url('../img/learn-hero.png');
}

#tutor{
  width: 100%;
}
.tutor{
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}

.tutor-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tutor-img{
  width: 100%;
  padding: 2%;
}
.tutor-deets{
  padding: 2%;
}
.tutor-img img{
  width: 100%;
}

/* end learn page*/

/* shop */
.hero-shop{
  background-image:url('../img/shop-hero.png');
  height: 60vh !important;
}

.form-input{
  width: 100%;
  padding: 15px;
  margin: 5px;
  border: none;
  background-color: #b51240d0;
  outline: none;
  color: white;
  }
  
  .radio-input{
  padding: 15px;
  margin: 5px;
  }
  
  .radio-input label{
  margin-right: 10px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: white; */
    opacity: 1; /* Firefox */
  }
  

  .search-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 3%;
  }
  /* shop list */
  #shop-list{
    width: 100%;
  }
  .shop-list{
    padding: 5%;
    width: 100%;
  }
  .shop-list aside{
    padding-right: 20px;
  }
  .shop-list .sidebar{
    background: #f4f4f4;
    padding: 30px;
    border-radius: 6px;
  }
  .search-class{
    margin-bottom: 3rem !important;
  }
  .search-transform{
    display: flex;
  }
  .search-transform input[type="search"]{
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    border-radius: 4px 0 0px 4px;
    -webkit-border-radius: 4px 0 0px 4px;
    -o-border-radius: 4px 0 0px 4px;
    -moz-border-radius: 4px 0 0px 4px;
    display: inline-block;
    height: 50px;
    outline: #B5123F;
  }
  .btn-search{
    background-color: #232020;
    -webkit-border-radius: 0px 4px 4px 0px;
    color: #fff;
    width: 30%;
  }
  button:not(:disabled){
    cursor: pointer;
  }
  .sidebar h4{
    margin-bottom: 25px;
  }
  .single-category{
    margin-bottom: 3rem !important;
  }
  .selected-cat{
    color: #B5123F;
    font-size: large;
  }
  .list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }
  .list-group-item{
    position: relative;
    display: block;
    padding: 0.75rem 0rem;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: transparent;
    color: #6b778d;

    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
  }

  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.badge{
  display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: #fff;
  background-color: #3a3535;
}
.pills{
  padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
.shop-list-options{
  flex: 1;
  padding-left: 3%;
}
.list-options-top{
  align-items: center;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.list-result{
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.list-ordering{
  text-align: end;
  flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.list-ordering-select{
  border: solid 1px black;
}
.list-ordering-select select{
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  position: relative;
  background: #fff;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #3a3535;
  height: 45px;
  text-align: left;
  -webkit-appearance: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: .1fr 1fr;
  align-items: center;
  padding-left: 15px;
  padding-right: 35px;
  border: none;
  border-radius: 6px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.product-grid{
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 3%;
}
.product-grid-box{
  flex: 0 0 30%;
  padding: 2%;    
  margin-bottom: 1.5rem !important;
  max-width: 300px;
}
.product-grid-box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
.product-grid-box img{
  width: 100%;
}
.product-content{
  padding: 20px 10px;
  text-align: center;
}
  /*end shop list */

/* shop */

/* login Page*/
#login-default{
  width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login-default{
  width: 60%;
    margin: 0 auto;
    padding: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login{
  background-image: linear-gradient(279deg, #9E2FDE 0%,#B5123F 100%);
}
.login-form{
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  width: 100%;
}

.login-validate{
  width: 100%;
  text-align: left;
  padding: 3% 0%;
}

.login-input, input{
  font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: #e3edff;
    padding: 3%;
    outline: none;
    border: none;
}
.forgot{
  padding: 3% 0%;
}

.login-btn{
  width: 100%;
  padding: 3%;
  margin-top: 3%;
}
.signup{
  padding: 3%;
  text-align: center;
}
.social{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}

.icon{
  flex: 1;
  padding: 2%;
}
.icon img{
  width: 100%;
}

/* end Login page */

/* single page */
#single-page{
  width: 100%;
  padding: 12% 5%;
}
.single-page{
  width: 90%;
  margin: 0 auto;
}

.single-page-deets{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.product-img{
  width: 60%;
  padding: 2%;
  background-color: #f8f5f5;
}
.product-info{
  padding: 10px;
}
.product-deets{
  flex: 1;
  padding: 4%;
}

/* single page*/

/* some Media quaries */
@media(max-width: 991px){
.home{
  height: 90vh;
}
.home .caption{
  width: 70%;
}
.explore-deets{
  width: 100%;
}
.login-default{
  width: 80%;
}

}
/* start media for 700px*/
@media(max-width: 700px){
  .home .caption{
    width: 100%;
  }
  .brief-row{
    display: block;
  }
  .brief-text {
    max-width: 100%;
  }
  #explore {
    padding: 5% 0% 0% 0%;
  }
  .explore-head h4{
    line-height: 25px;
  }
  .explore-deets{
    display: block;
  }
  .explore-deets-img{
    text-align: center;
  }
  .explore-deets-img img{
    width: 80%;
  }
  .category{
    width: 95%;
  }
  .footer-deets {
    width: 70%;
  }
  .call-btn{
    padding: 15px 20px;
  }
  .login-default{
    width: 100%;
  }
  #login-default{
    padding-top: 50px;
  }
}

/* start media for 476px*/
@media(max-width: 476px){
  .explore-head{
    width: 80%;
  }
  .footer-img img{ /*changed */
    width: 70%;
  }
  .project{
    width: 100% !important;
  }
  #login-default{
    padding-top: 70px;
  }
}
/* start media for 414px*/
@media(max-width: 414px){
  .home {    
    height: 100vh;
  }
  .hero4{
    background-image:url('../img/landing4-mobile.png');
  }
  .hero3{
    background-image:url('../img/landing3-mobile.png');
  }
  .hero2{
    background-image:url('../img/landing2-mobile.png');
  }
  .hero1{
    background-image:url('../img/landing1-mobile.png');
  }

  .caption h1{
    text-align: center;
    color: white;
  }
  .slider .caption a{
    text-align: center;
    margin-top: 5px;
  }
  .caption{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .controls{
    display: none;
  }
}
/* start media for 375px*/
@media(max-width: 375px){
 
  .footer-info{
    display: block;
  }
  .footer-deets{
    display: block;
  }
  /* changed */
  .logo{
    width: 60%;
  }
  .logo-img {
    width: 20%;
  }
  #login-default{
    padding-top: 80px;
  }
  /* changed*/
}
/* end media quaries */

/*---------------------------------------------------------------------------------
UPDATED 29th SEPTEMBER 2020
---------------------------------------------------------------------------------*/
.cat{
  background: #141313;
  border-radius: 13px;
  color: white;
  display: inline-block;
}
.cat p{
  padding: 2px 10px;
  color: white;
}
#project{
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}
.project{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(279deg, #B5123F 0%,#9E2FDE 100%);
  color: white;
  padding: 5%;
}
.project p{
  color: white;
}
.flexslider .slides li img{
  width: 60%;
  margin: 0 auto;
}
.get-in-touch{
  width: 100%;
  margin-top: 15px;
  text-align: center;
  
}
.call-btn{
  background: #B5123F;
  color: white;
  padding: 15px 60px;
  border-radius: 6px;
  margin-top: 5px;
}

.product-price{
  background-color: #B5123F;
  padding: 5px;
  display: block;
  border-radius: 5px;
}
.product-price p{
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: white;
  padding: 3%;
}
hr{
  margin: 5% 0%;
}
.location{
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.location img, .get-in-touch img{
  width: 20px;
  padding-right: 5px;
}
.rent-profile{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
.rent-profile img{
  width: 50%;
  margin: 0 auto;
}
/* some Media quaries */
@media(max-width: 991px){

}

@media(max-width: 700px){
  .list{
    width: 100%;
  }
  .shop-list{
    display: block;
  }
  .shop-list-options{
    padding: 5%;
  }
  #single-page{
    padding: 17% 5%;
  }
}
@media(max-width: 476px){
  .list-info {
    display: block;
  }
  #list{
    padding: 5% 10%;
  }
  .tutor-info{
    display: block;
  }
  .commercial-deets{
    padding: 10% 10%;
  }
  .learn-list-info {
    display: block;
  }
  .shop-list aside {
    padding-right: 0px;
}
.list-options-top{
  display: block;
}
.list-result{
  max-width: 100% !important;
}
.list-ordering{
  max-width: 100% !important;
}
.product-grid{
  display: block;
}
.single-page-deets{
  display: block;
  padding: 10% 5%;
}
.product-img{
  width: 100%;
}
.single-page {
  width: 100%;
}
.single-page-deets{
  padding: 5% 0%;
}
}
@media(max-width: 375px){

}

/*---------------------------------------------------------------------------------
UPDATED 11th October 2020
---------------------------------------------------------------------------------*/
/* Courses*/
.hero-course{
  background-image:url('../img/courses-hero.png');
  height: 60vh !important;
}
#top-categories{
  width: 100%;
  margin: 0 auto;
}

.top-categories{
  width: 100%;
  padding: 5%;
}

.top-categories-list{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.top-categories-large-box{
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 30px;
}

.large-box-deets{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.large-box-text{
  padding: 5%;
  width: 70%;
}
.course-title{
  font-size: 45px;
}

.course-difficulty{
  background-color: #02467e;
  padding: 3px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  font-size: 10px;
}
.course-difficulty2{
  background-color:#003057;
  padding: 5px;
  display: inline-block;
  border-radius: 7px;
  color: white;
}
.course-price{
  font-size: 30px;
  font-weight: 600;
}
.large-box-img{
  padding: 2%;
  width: 30%;
  text-align: right;
}
.large-box-img img{
  width: 100%;
  margin-bottom: -7px;
}

.course-btn{
  padding-top: 20px;
}

.top-categories-box{
  width: 20%;
  background-color: #f1f1f1;
  border-radius: 30px;
}

#courses{
  width: 100%;
}

.courses{
  width: 100%;
  padding: 1%;
}

/* .courses h2{
  text-align: center;
  padding-bottom: 5%;
} */
.courses-head-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-row{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.courses-box{
  flex: 0 0 32%;
  padding: 2%;    
  margin-bottom: 1.5rem !important;
  max-width: 300px;
  transition: all .2s ease-in-out;
}

.courses-box:hover{
  transform: scale(1.05);
}

.courses-box img{
  width: 100%;
}

.pagination{
  width: 100%;
  padding: 1%;
  border: #141313 1px solid;
  border-radius: 5px;
}

.pagination-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-nums{
  display: flex;
  justify-content: center;
}
.pagination-nums div{
  padding: 0% 50%;
}
.page{
  color: #B5123F;
}
/* end courses*/
/* Preview */
  #preview{
    width: 100%;
    margin: 0 auto;
  }
  .preview{
    width: 100%;
    padding: 5%;
  }
  .preview-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .preview-left{
    padding-right: 3%;
    width: 50%;
  }

  .preview-right{
    padding-left: 1%;
  }
  .preview-right-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .preview-text{
    width: 50%;
  }
  .preview-price{
    padding: 3%;
    /* width: 100%; */
    border-radius: 10px;
    /* font-size: 50px; */
    color: white;
    text-align: center;
    background-color: #141313;
  }
  .preview-price p{
    color: white;
  }
  .preview-right-category{
    padding-top: 2%;
  }
  .preview-right-category p{
    background-color: #003057;
    display: inline;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
  }
  .space{
    height: 10vh;
  }
  .what-will-learn{
    background-color: #e4e4e4;
    margin-top: 3%;
    padding: 2% 3%;
  }
  .what-will-learn-col ul{
    display: flex;
    justify-content: space-between;
    width: 100%;    
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .what-will-learn-col ul li{
    display: flex;
    align-items: flex-start;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 50%;
  }
  .what-will-learn-col ul li img{
    margin-right: 12px;
    width: 5.5%;
  }

  .topics{
    padding-top: 3%;
  }

  .topics-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topics-head-deets{
    display: flex;
    justify-content: space-between;
  }
  .topics-head-deets p{
    padding-left: 20px;
  }

  /* course topics*/



  /* accordian */
  .accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    /* border: solid #232020 1px; */
    background-color: #e4e4e456;
    }
    
    .active-acc, .accordion:hover {
      border: solid #003057 1px;
    }
    
    .accordion:after {
    content: '\002B';
    color: #003057;
    font-weight: bold;
    float: left;
    margin-right: 20px;
    }
    
    .active-acc:after, .active-acc2:after{
    content: "\2212";
    }
    
    .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    }
    .panel-ul ul li{
      list-style: none;
      padding: 6px 0px;
      margin: 3% 0%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    }
    .panel-ul-deets{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .panel-ul-deets div{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
    }
    .panel-ul-deets div img{
      width: 35px;
      padding: 1px 10px;
    }
/* end preview */
/* begin */
    .begin{
      width: 100%;
      padding: 5%;
    }
   .course-topics{
     text-align: center;
   }
   .course-topics-head{
     padding: 3%;
   }
   .begin-row{
    align-items: start;
   }
   .begin-right{
     width: 70%;
   }
   .begin-title{
     display: flex;
     align-items: center;
     padding-bottom: 2%;
   }
   .begin-left{
    /* background-color: #B5123F; */
    background-color: rgb(245, 248, 250);
    border-right: 1px solid rgb(203, 214, 226);
     width: 30%;
     color: black;
     position: sticky;
     top: 20%;
     overflow-y: auto;
   }
  .begin-accordian{
    color: black;
    border-radius: 1px !important;
    width: 100% !important;
    margin-bottom: 1px;
  }
  .active-acc2,.begin-accordian:hover{
    
    border: solid 1px black !important;
  }
  .begin-accordian:after {
    color: black;
  }
  .active-acc2:after{
    content: "\2212";
  }

  .begin-ul-deets{
    padding-left: 15px;
  }
  .begin-panel{
    padding: 0px 5px;
    background-color: transparent;
    color: black;
  }
  .begin-panel ul ol {
    /* list-style: decimal; */
    text-align: left;
  }
  
  .begin-sub{
    padding: 4px 0px;
  }
  .begin-sub p{
    color: rgb(82, 82, 82);
  }
  .navbtns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3% 0%;
  }
/* end begin */

/* Profile Page */
  #profile{
    width: 100%;
  }
  .profile{
    padding: 5%;
  }
  .profile1{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }
  
  .profile1 img{
    width: 20%;
  }
  .profile1-deets{
    padding-left: 4px;
  }
  .profile1-course-details{
    display:  flex;
    justify-content: space-around;
    align-items: center;
  }

  .profile1-course-deets{
    display: inline-flex;
    width: 100%;
  }
  .profile1-completed{
    padding: 3%;
     display: -webkit-box;
  }
  .profile1-completed h3{
    padding-right: 10px;
  }

  .continue-learning{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
  }

  .progress-bar{
    padding: 2%;
  }
  .light-grey{
    background-color: #bbbaba;
    width: 100%;
    border-radius: 50px;
    margin-top: 3%;
  }
  .grey{
    background-color: #B5123F;
    height: 14px;
    width: 75%;
    border-radius: 50px;
  }

/* Media Queries */

/* some Media quaries */
@media(max-width: 991px){

}

/* 700px */
@media(max-width: 700px){
  .preview-row{
    display: block;
  }
  .preview-left{
    padding-right: 0%;
    width: 100%;
  }
  .preview-right{
    padding-top: 50px;
  }
  .preview-text {
    width: 60%;
  }
  .courses-box{
    flex: 0 0 50%;
  }
}

/* start media for 476px*/
@media(max-width: 476px){
  .preview-text {
    width: 70%;
  }
  .what-will-learn-col ul {
    display: block;
  }
  .what-will-learn-col ul li {
    width: 100%;
  }
  .topics-head{
    display: block;
  }
  .product-grid-box{
    max-width: 100%;
  }

}

/* start media for 375px*/
@media(max-width: 375px){
  .courses-box{
    flex: 0 0 100%;
  }
}
/* end media */

/*------------------------------------*/
/* changed */

/* List gear*/
.hero-list-gear{
  background-image:url('../img/list-gear-hero.png');
}

/* feedback button */
#fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  /* width: 4%; */
  z-index: 10000;
  text-align: center;
}
#fixedbutton a img{
  width: 50%;
}



.clr-or{
  color: orange;
}
/* changed */


/******************************/
/* About Page */
  .hero-about{
   background-image:url('../img/about-hero.png');
  }

  #about-info{
    width: 100%;
  }
  .about-info{
    width: 100%;
    margin: 0 auto;
    padding: 0% 5% 5% 5%;
    display: flex;
    justify-content: flex-start;
    /* align-items: top; */
    flex-wrap: wrap;
  }
  
  
  .about-info-box{
    /* flex: 0 30%; */
    margin: 1%;
    width: 30%;
    background: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 1%;
  }
  .about-title{
    font-size: 60px;
  }
  .about-box{
    width: 100%;
    margin: 0 auto;
    padding: 3%;
  }
  .about-img{
    text-align: center;
  }
  .about-img img{
    width: 30%;
  }

  .first-box{
    background: none;
  }

  /* start media for 700px*/
  @media(max-width: 700px){
    .about-info{
    display: block;
    }
    .about-info-box{
      width: 100%;
      margin-bottom: 5%;
    }
  }