{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}



  <div class="space"></div>

<section id="begin">
<div class="begin">
  <div class="preview-row begin-row">

    <div class=" begin-left">
    <div class="course-topics">
      <div class="course-topics-head">
        <h2>Topics</h2>
      </div>
      <div class="begin-topics">
        <div class="topic-1">

          <button class="accordion begin-accordian">Your first entry into designing.</button>
          <div class="panel begin-panel">
             <ul>
              <ol>
                <div class="panel-ul-deets begin-ul-deets">

                  <div class="begin-sub">
                   <a href=""><p>Introduction to Design</p></a> 
                  </div>

                  <div>
                    <img src="{% static 'img/download.svg' %}" alt="locked icon">
                  </div>

                  </div>
              </ol>

              <ol>
                <div class="panel-ul-deets begin-ul-deets">

                  <div class="begin-sub">
                   <a href=""><p>learn outlines</p></a> 
                  </div>

                  <div>
                    <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                  </div>

                  </div>
              </ol>
              
             </ul>
          </div>

          <button class="accordion begin-accordian">Your first entry into designing.</button>
          <div class="panel begin-panel">
             <ul>
              <ol>
                <div class="panel-ul-deets begin-ul-deets">

                  <div class="begin-sub">
                    <a href=""><p>Introduction to Design</p></a>
                  </div>

                  <div>
                    <img src="{% static 'img/locked-padlock.svg' %}" alt="locked icon">
                  </div>

                  </div>
              </ol>
              
             </ul>
          </div>

        </div>
      </div>
                
    </div>
    <br>
  </div>

    <div class="preview-right begin-right">
     <div class="begin-title"> <h2>{{ module.title }} - </h2> <p>{{ m.title }}</p> </div>
      <div class="player-embedd" id="begin-video">
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/QILiHiTD3uc' frameborder='0' allowfullscreen></iframe></div>
      </div>
      
      <div class="navbtns">
        <div class="navbtn-prev">
          <a href="" class="btn-red">Prev</a>
        </div>
        <div class="navbtn-next">
          <a href="" class="btn-red">Next</a>
        </div>
      </div>
      
      <hr>
      <div class="begin-info">
        <h2>Lesson Overview</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, voluptates similique. Illo quia minima quidem. Ea cupiditate possimus quaerat aliquid sunt nobis sequi.</p>
      </div>
    </div>
  </div>
</div>
</section>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function() {
  this.classList.toggle("active-acc2");
  var panel = this.nextElementSibling;
  if (panel.style.maxHeight) {
    panel.style.maxHeight = null;
  } else {
    panel.style.maxHeight = panel.scrollHeight + "px";
  } 
});
}
</script>


{% comment %}
    <h1>
        {{ module.title }}
    </h1>
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
                <li data-id="{{ m.id }}" {% if m == module %} class="selected"{% endif %}>
                    <a href="{% url 'student_course_detail_module' object.id m.id %}">
                        <span>
                            Module <span class="order">{{ m.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ m.title }}
                    </a>
                </li>
            {% empty %}
                <li>No modules yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
    {% endcomment %}
{% endblock %}