{% extends "base.html" %}
{% load static %}
{% block title %}My courses{% endblock %}
{% block content %}

  <div class="space"></div>
  
  <div id="profile">
    <div class="profile">
      <section id="profile1">
        <div class="profile1">
            <img src="{% static 'img/profile.svg' %}" alt="">
          <div class="profile1-deets">
            <h2>{{ user.username }}</h2>
            <div class="profile1-course-deets">
              <!-- <div class="profile1-completed">
                <h3>431</h3> <p>Points</p>
              </div> -->
              <div class="profile1-completed">
                <h3>5</h3> <p>Completed Clases</p>
              </div>
            </div>

          </div>

        </div>
      </section>

      
    <hr>

      <section id="profile2">
      <div class="continue-learning">
        <div class="continue-learning-name">
          <h3>Continue Learning</h3>
        </div>
        <div class="view-learning">
          <a href=""><p>Courses in Progress</p></a>
        </div>
      </div>

      <div class="courses-row">
        {% for course in object_list %}
        <div class="courses-box">
          <a href="{% url 'student_course_detail' course.id %}">
          <img src="{% static 'img/ultimate-guide.png' %}" alt="">
          <p class="course-difficulty"> For Beginners </p>
          <h3>{{ course.title }}</h3>
          <div class="progress-bar">
            Completed:
            <div class="light-grey">
              <div class="grey">
                
              </div>
            </div>
            <p>20%</p>
          </div>
          </a>
         </div> 
     {% empty %}
          <p>You are not enrolled in any courses yet.<a href="{% url 'course_list' %}">Browse courses</a>to enroll in a course.</p>
       {% endfor %}
        
      </section>

              
    <hr>

<section id="profile2">
<div class="continue-learning">
<div class="continue-learning-name">
  <h3>Recommendations</h3>
</div>
<div class="view-learning">
  <a href="{% url 'course_list' %}"><p>View More</p></a>
</div>
</div>

<div class="courses-row">
<div class="courses-box">
      <a href="">
      <img src="{% static 'img/ultimate-guide.png' %}" alt="">
      <p class="course-difficulty"> For Beginners </p>
      <h3>Ultimate VR Guide:</h3>
      <p class="price">₦ 30,000</p>
      </a>
    </div>

<div class="courses-box">
      <a href="">
      <img src="{% static 'img/ultimate-guide.png' %}" alt="">
      <p class="course-difficulty"> For Beginners </p>
      <h3>Ultimate VR Guide:</h3>
      <p class="price">₦ 30,000</p>
      </a>
    </div>

<div class="courses-box">
      <a href="">
      <img src="{% static 'img/ultimate-guide.png' %}" alt="">
      <p class="course-difficulty"> For Beginners </p>
      <h3>Ultimate VR Guide:</h3>
      <p class="price">₦ 30,000</p>
      </a>
    </div>
</div>

</section>
    </div>
  </div>




    <!-- <h1>My courses</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p><a href="{% url 'student_course_detail' course.id %}">Access contents</a></p>
            </div>
        {% empty %}
            <p>You are not enrolled in any courses yet.<a href="{% url 'course_list' %}">Browse courses</a>to enroll in a course.</p>
        {% endfor %}
    </div> -->
{% endblock %}